.input-group__wrapper{
    overflow: hidden;
    flex: 0 0 90%;
}

.input-group{
    padding-left: 3px;
    transform:translateX(-110%);
    transition: all .4s ease;
}

.input-group.active{
    transform:translateX(0)
}

.search{
    font-size: 30px;
    color:#007bff;
    cursor:pointer;
    display: flex;
    align-items: center;
}
.search.hide{
    display: none;
}