table{
    position: relative;
}

thead th{
    cursor:pointer;
    user-select: none;
    color:#fff;
}

tr{
    transition: all .1s ease;
}

.fa{
    font-size: 10px;
}

.pagination{
    justify-content: center;
}